/* Espace P
 *
 * /sass/base/home.scss - basic styles
 *
 * coded by Anne
 * started at 04/08/2017
 */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: $bg;
}
