site/

node_modules
.sass-cache

dev/*
!dev/wp-content/
dev/wp-content/*
!dev/wp-content/themes/
dev/wp-content/themes/*
!dev/wp-content/themes/espacep/
dev/wp-content/themes/espacep/.sass-cache
dev/wp-content/themes/espacep/node_modules