/* Espace P
 *
 * /sass/settings/colors.scss - Color variables
 *
 * coded by Anne
 * started at 10/10/2016
 */


$textColor: #1E0808;

$bgButtons: #4A90E2;
$buttonsHover: #76abe7;

$lightBg: #d9dcf4;
$darkColor: #11125D;