/* Espace P
 *
 * /sass/components/about.scss - basic styles for about page
 *
 * coded by Anne
 * started at 10/10/2016
 */

 .philo {
 	width: 60%;
 	margin: 5em auto;

 	&__title {
 		margin-bottom: 1em;
 	}
 }

.socials {
	width: 60%;
	margin: 5em auto;

	&__title {
		margin-bottom: 2em;
		text-align: center;
	}

	&__button {
		display: block;
		width: 35%;
		text-align: center;
		margin: 0 auto;
		padding: 1em;
	}
} 

.partners-bg {
	background: $lightBg;
}

.partners {
	width: 60%;
	margin: 0 auto;
	padding: 5em 0;

	&__title {
		margin-bottom: 2em;
	}

	&__logo {
		display: inline-block;
		width: 15%;
		margin-left: 3%;
		margin-bottom: 2em;
	}
	&__img {
		width: 100%;
	}
}
