/* Espace P
 *
 * /sass/components/actu.scss - basic styles for actu section
 *
 * coded by Anne
 * started at 10/10/2016
 */

.articles {
    width: 90%;
    margin: 7em auto 5em;
}

 .actu {
	display: inline-block;
    width: 33%;
    padding: 0 3%;
 	position: relative;
    vertical-align: top;

 	&__title {
 		font-size: 1.875em;
 		margin-bottom: .3em;
        line-height: 1.5;
 	}
 	&__date {
 		text-transform: uppercase;
 		text-align: center;
 		position: absolute;
 		top: -3em;
 		left: 0;
 		font-size: 1em;
		border: 2px solid $bgButtons;
		border-radius: 5px;
		padding: .6em 1em;
		line-height: 1;
		font-weight: bold;

		&--day {
			font-size:1.5em;
		}
 	}

 	&__texte {
 		margin-bottom: 2em;

 	}
 	&__button {
 		background: $bgButtons;
 		text-decoration: none;
 		color: white;
		padding: .5em 1em;
		transition: all .3s ease;
 	}
 	&__button:hover {
 		background: $buttonsHover;
 	}
 }

 @media screen and (max-width: 1270px) {

 }
 @media screen and (max-width: 1105px) {
     .actu {
         width: 80%;
         margin-bottom: 8em;
         margin-left: 10%;
     }
 }
 @media screen and (max-width: 920px) {
    .actu {
        width: 90%;
    }
 }
 @media screen and (max-width: 440px) {
     .actu {

         font-size: .9em;
     }
 }
