/* Espace P
 *
 * /sass/components/comment.scss - styles for comments
 *
 * coded by Anne
 * started at 14/08/2017
 */

 .comment {
     position: relative;
     margin-bottom: 3em;
     padding: 0 14%;
     &__author {
        font-size: 1.2em;
        color: $lightColor;
     }
     &__date, &__town {
        font-size: .8em;
        color: $textColor;
     }
     &__text {

     }
 }
