/* Espace P
 *
 * /sass/components/comment.scss - styles for comments
 *
 * coded by Anne
 * started at 14/08/2017
 */

 .comment {
     position: relative;
     margin-bottom: 3em;
     padding: 0 14%;
     &__author {
        font-size: 1.2em;
        color: $lightColor;
     }
     &__date, &__town {
        font-size: .8em;
        color: $textColor;
     }
     &__text {

     }
 }

 @media screen and (min-width:300px) {
     .comment {
         padding: 0 5%;
         &__author {
            font-size: 1.1em;
         }
     }
 }

 @media screen and (min-width: 768px) {
     .comment {
         padding: 0 14%;
         &__author {
            font-size: 1.2em;
         }
     }
 }

 @media screen and (min-width: 2000px) {
     .comment {
         padding: 0 20%;
         &__author {
            font-size: 1.3em;
         }
     }
 }
