/* Espace P
 *
 * /sass/components/facebook.scss - styles for custom facebook feed
 *
 * coded by Anne
 * started at 06/08/2017
 */

#cff {
    position: relative;
    width: 70%;
    margin: 0 auto;
}
 .cff {
     position: relative;
     &-author {
         position: relative;
         margin-bottom: 4em;

         a {
             text-decoration: none;
             color: $darkColor;
         }
         &-img {
             position: absolute;
             width: 100%;
             top: -4em;
             left: 0;

             img {
               width: 5em;
               height: 100%;
             }
         }
         &-text {
             width: 60%;
             margin-left: 16%;

             .cff-date {
                 font-size: .8em;
             }
         }
         &-date {
             color: $lightColor;
             font-size: 1.2em;
             margin-bottom: .7em;
         }
     }
     &-item {
         display: inline-block;
         vertical-align: middle;
     }
     &-post {
         &-text {
            margin-bottom: 2em;
            word-wrap: break-word;
         }
     }
     &-text {
         color: $textColor;
         a {
             color: $darkColor;
         }
     }
     &-viewpost {
         &-facebook {
             text-transform: uppercase;
             text-decoration: none;
             transition: all .3s;
             color: $lightColor;

             &:after {
                 content:"";
                 font-family: "Fontawesome";
                 display: inline-block;
                 transition: all .3s;
                 margin-left: 5px;
             }
         }
         &-facebook:hover {
             color: $darkColor;

             &:after {
                 color: $darkColor;
                 transform: translateX(10px);
             }
         }
     }
 }

 .cff-dot {
   display: none;
 }

 .cff-post-links {
   padding-bottom: 3em;
 }

 .cff-likebox {
   display: inline-block;
   width: 30%;
   vertical-align: middle;
 }

 .fb_iframe_widget {
   width: 100%;
 }

 .cff-text * {
     word-wrap: break-word;
 }

@media screen and (min-width: 300px) {
    #cff {
        width: 100%;
    }
     .cff {
         &-author {
             margin-bottom: 3em;

             &-img {
                 border: 1px solid transparent;

             }
             &-text {
                 margin-left: 35%;
             }
         }
         &-item {
             width: 100%;
         }

     }

}

@media screen and (min-width: 768px) {
    #cff {
        width: 90%;
    }
     .cff {
         &-author {
             margin-bottom: 3em;

             &-text {
                 margin-left: 20%;
             }
         }

     }
}

@media screen and (min-width: 1024px) {
    #cff {
        width: 80%;
    }
     .cff {
         &-author {
             margin-bottom: 3.5em;

             &-text {
                 margin-left: 18%;
             }
         }

     }
}

@media screen and (min-width: 1440px) {
    #cff {
        width: 70%;
    }
     .cff {
         &-author {
             margin-bottom: 4em;

             &-text {
                 margin-left: 16%;
             }
         }

     }
}

@media screen and (min-width: 2000px) {
     .cff {
         &-author {
             margin-bottom: 6em;

             &-img {
                 top: -5em;
                 img {
                   width: 7em;
                 }
             }
             &-text {
                 margin-left: 14%;

                 .cff-date {
                     font-size: 1em;
                 }
             }
             &-date {
                 font-size: 1.5em;
             }

         }
         &-post {
             &-text {
                font-size: 1.2em;
             }
             &-links {
                 font-size: 1.2em;
             }
         }

     }
}
