/* Espace P
 *
 * /sass/components/file.scss - styles for a list of donwloadable files
 *
 * coded by Anne
 * started at 15/08/2017
 */

 .file {
     &__single {
         display: inline-block;
         margin-right: 10%;
         vertical-align: top;
         margin-bottom: 2em;
     }
     &__link {

     }
     &__logo {
         width: 100%;
        margin-bottom: .9em;
         &--img{
             width: 100%;
             height: auto;
         }
     }
     &__title {
         display: block;
         text-align: center;
         word-wrap: break-word;
     }
 }

 @media screen and (min-width: 300px) {
     .file {
         &__single {
             width: 39%;
             margin-right: 10%;
         }
     }
 }


 @media screen and (min-width: 768px) {
     .file {
         &__single {
             width: 28%;
             margin-right: 5%;
         }
     }
 }

 @media screen and (min-width: 1024px) {
     .file {
         &__single {
             width: 20%;
             margin-right: 5%;
         }
     }
 }

 @media screen and (min-width: 1440px) {
     .file {
         &__single {
             width: 15%;
             margin-right: 8%;
         }
     }
 }
