/* Espace P
 *
 * /sass/components/footer.scss - basic styles for footer
 *
 * coded by Anne
 * started at 10/10/2016
 */



.footer {
	background: #255286;
	padding: 5em 0 7em;
	color: white;
	margin-top: -.1em;
	&__list {
		display: inline-block;
		vertical-align: top;
		margin-left: 15%;
		&--title {
			text-transform: uppercase;
			font-size: 1.2em;
			margin-bottom: 1.2em;
		}
		&--partners {
			width: 30%;
		}
	}

	&__item {
		margin-bottom: 0.6em;
	}

	&__link {
		text-decoration: none;
		color: white;
		position: relative;
	}

	&__link:after {
		content:"";
		font-family: 'FontAwesome';
		display: inline-block;
		margin-left: .2em;
		color: transparent;
		transition: all .3s ease;
		position: absolute;
	}
	&__link:hover:after {
		content:"";
		font-family: 'FontAwesome';
		display: inline-block;
		margin-left: .5em;
		color: white;
	}

	&__partner {
		display: inline-block;
		width: 20%;
		height: 4em;
		margin-right: 2%;
	}

	&__logo {

	}

	&__img {
		display: inline-block;
		width: 100%;

	}
}