/* Espace P
 *
 * /sass/components/header.scss - basic styles for header
 *
 * coded by Anne
 * started at 10/10/2016
 */

.header {
	background: transparent url(../assets/images/bg-header.jpg) center no-repeat;
	background-size: cover;
	height: 38em;
	position: relative;

	&__up {
		background: rgba(210, 225, 242, 0.7);
		height: 4.375em;
		padding: 0.7em 0;
		margin-bottom: 1.5em;

		&--text {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
			padding-top: .5em;
			margin-right: 3%;
			margin-left: 24.14%;
		}

		&--button {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
			background: white;
			padding: 0.5em 1em;
			color: $textColor;
			text-decoration: none
		}

		&--button:hover {
			text-decoration: underline;
		}

		&--close {
			color: white;
			display: inline-block;
			vertical-align: middle;
			margin-left: 5%;
			font-size: 2em;
			-webkit-transition: .2s ease;
			-ms-transition: .2s ease;
            transition: .2s ease;
			padding: 0;
			line-height: 0;
		}
		&--close:hover {
			-webkit-transform: rotate(90deg);
        	-ms-transform: rotate(90deg);
            transform: rotate(90deg);
		} 
	}

	&__research {

	}

	&__form {
		width: 18.75%;
		position: relative;
		margin-left: 70%;
		&--label {
			color: white;
			text-transform: uppercase;
			font-size: 0.875em;
			display: block;
			margin-bottom: 0.5em;

		}
		&--input {
			height: 3em;
			width: 100%;
			display: flex;
			padding: 0 1em;
			border: none;
		}

		&--button {
			text-indent: -9999px;
			display: flex;
			font-family: 'FontAwesome';
			border: none;
			background:$bgButtons url(../assets/images/search.png) center no-repeat;

			padding: 0.9em 1.3em;
			position: absolute;
			bottom:0;
			right:0;
		}
	}

	&__middle {
		//width: 80%;
		margin: 2.5em auto 3.5em;
	}

	&__logo {
		background: transparent url(../assets/images/logo.png) top left no-repeat;
		background-size: contain;
		text-indent: -9999px;
		width: 13.75%;
		height: 15.25em;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10%;
	}

	&__punchline {
		display: inline-block;
		vertical-align: middle;
		color:white;
		font-size: 4em;
		width: 46%;
		margin-left: 20%;
		line-height: 1.4;
		text-align: center;
	}

	&__nav {
		margin-left: 11%;
	}

	&__link {
		text-transform: uppercase;
		display: inline-block;
		color:white;
		font-size: 1.3em;
		text-decoration: none;
		width: 22%;
		text-align: center;
	}

	&__link:after {
		content: '';
		display: block;
		margin: 0.3em auto 0;
		height: 0.125em;
		width: 0px;
		background: transparent;
		transition: width .3s ease, background-color .5s ease;
	}

	&__link:hover:after {
		width: 70%;
		background: white;
	}
}

@media screen and (max-width: 1350px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 23%;
  		}
  	}
	&__form {
		width: 20%;
	}
  }
}

@media screen and (max-width: 1270px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 20%;
  		}
  	}
	&__form {
		margin-left: 68%;
		width: 21%;
	}
  }
}
@media screen and (max-width: 1238px) {
  .header {
	  &__punchline {
		  font-size: 3.8em;
	  }
  }
}
@media screen and (max-width: 1206px) {
  .header {
	  &__form {
  		margin-left: 67%;
  		width: 22%;
  	}
	  &__punchline {
		  font-size: 3.6em;
	  }

  }
}
@media screen and (max-width: 1142px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 18%;
  		}
  	}
	&__form {
	  margin-left: 65%;
	  width: 23%;
  }
	  &__punchline {
		  font-size: 3.3em;
	  }
  }
}
@media screen and (max-width: 1050px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 15%;
  		}
  	}
	&__form {
	  margin-left: 62%;
	  width: 25%;
  }
	  &__punchline {
		  font-size: 3em;
	  }
	  &__link {
		  font-size: 1.1em;
	  }
  }
}
@media screen and (max-width: 1000px) {
  .header {
		&__form {
		  margin-left: 60%;
		  width: 27%;
		}
	}
}
@media screen and (max-width: 955px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 13%;
  		}
  	}
	  &__punchline {
		  font-size: 2.8em;
	  }
	  &__logo {
		  height: 10em;
	  }
  }
}
@media screen and (max-width: 900px) {
  .header {
		&__form {
		  margin-left: 57%;
		  width: 30%;
		}
	}
}
@media screen and (max-width: 888px) {
  .header {
	  height: 34em;
	  &__up {

  		&--text {
  			margin-left: 10%;
  		}
  	}
	  &__punchline {
		  font-size: 2.3em;
	  }
	  &__logo {
		  height: 8em;
	  }
	  &__link {
		  font-size: 1em;
	  }
  	}
}
@media screen and (max-width: 850px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 8%;
  		}
  	}
	&__form {
	  margin-left: 55%;
	  width: 32%;
	}
}
}
@media screen and (max-width: 800px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 6%;
  		}
  	}
}
}
@media screen and (max-width: 799px) {
  .header {
	  &__up {

  		&--text {
  			margin-left: 4%;
  		}
  	}
}
}
@media screen and (max-width: 755px) {
  .header {
	  &__up {
		  height: 7em;

  		&--text {
  			margin-left: 15%;
			margin-right: 10%;
  		}
		&--button {
			margin-left: 42%;
		}
  	}
	&__form {
	  margin-left: 52%;
	  width: 35%;
	}
}
}
@media screen and (max-width: 730px) {
    .header {
  	  height: 32em;
	  &__up {
  		&--text {
  			font-size: 1.2em
  		}
		&--button {
			margin-left: 42%;
			font-size: 1.3em;
		}
  	}
	&__form {
	  margin-left: 50%;
	  width: 37%;
	}

  	  &__punchline {
  		  font-size: 2.1em;
  	  }
  	  &__logo {
  		  height: 7em;
  	  }
	  &__nav {
		  margin-left: 5%;
	  }
  	  &__link {
  		  font-size: 1em;
		  width: 24%;
  	  }
    }
}
@media screen and (max-width: 680px) {
    .header {
  	  height: 32em;
	  &__up {
  		&--text {
  			margin-left: 12%;
  		}

  	}

    }
}
@media screen and (max-width: 666px) {
    .header {
		&__form {
		  margin-left: 47%;
		  width: 40%;
		}
  	  &__punchline {
  		  width: 55%;
		  margin-left: 15%;
  	  }
    }
}
@media screen and (max-width: 653px) {
    .header {
  	  height: 32em;
	  &__up {
  		&--text {
  			margin-left: 10%;
  		}

  	}

    }
}
@media screen and (max-width: 637px) {
    .header {
  	  height: 32em;
	  &__up {
  		&--text {
  			margin-left: 12%;
			font-size: 1.1em;
  		}
  	}
	&__form {
	  margin-left: 45%;
	  width: 42%;
	}

    }
}
@media screen and (max-width: 600px) {
    .header {
		&__up {
			height: 6.5em;
			margin-bottom: 1em;

			&--button {

				margin-left: 42%;
			}
		}
		&__nav {
			margin-left: 12%;
		}
		&__middle {
			margin-bottom: 2.8em;
		}
		&__link {
			width: 45%;
			margin-bottom: 1.5em;
			text-align: center;
		}
		&__logo {
			height: 6em;
		}
    }
}
@media screen and (max-width: 599px) {
    .header {
		&__up {
			height: 6.5em;
			margin-bottom: 1em;
			&--text {
				font-size: 1em;
				margin-left: 14%;
			}
			&--button {
				margin-left: 42%;
				font-size: 1.2em;
			}
		}
		&__form {
		  margin-left: 42%;
		  width: 45%;
		}
    }

}
@media screen and (max-width: 559px) {
    .header {
		&__up {
			&--text {
				margin-left: 12%;
			}

		}
		&__form {
		  margin-left: 40%;
		  width: 47%;
		}
		&__punchline {
			width: 60%;
		 	margin-left: 10%;
			font-size: 1.8em;
		 }
    }
}
@media screen and (max-width: 544px) {
    .header {
		&__up {

			&--text {
				margin-left: 15%;
				font-size: .9em;
			}
		}
		&__form {
		  margin-left: 38%;
		  width: 49%;
		}
    }
}
@media screen and (max-width: 544px) {
    .header {
		&__up {

			&--text {
				margin-left: 12%;
				font-size: .9em;
			}
		}
    }
}
@media screen and (max-width: 520px) {
    .header {
		&__form {
		  margin-left: 36%;
		  width: 51%;
		}
    }
}
@media screen and (max-width: 490px) {
    .header {
		&__up {

			&--text {
				margin-left: 30%;
			}
			&--button {
				font-size: 1.1em;
			}
		}
		&__form {
		  margin-left: 34%;
		  width: 53%;
		}
    }
}
@media screen and (max-width: 438px) {
    .header {
		&__up {
			margin-bottom: 1.3em;

			&--text {
				font-size: .9em;
				margin-left: 20%;
			}

			&--button {
				font-size: 1em;
			}
		}
		&__form {
		  margin-left: 28%;
		  width: 57%;
		}
		&__punchline {
			font-size: 1.5em;
		 }
		 &__logo {
			 height: 5em;
		 }
    }
}
