/* Espace P
 *
 * /sass/components/last.scss - basic styles for last actus section
 *
 * coded by Anne
 * started at 10/10/2016
 */

.last {
	width: 80%;
	margin: 5em auto;

	&__title {
		margin-bottom: 2em;
	}

	&__part {
		width: 40%;
		display: inline-block;
		background: $lightBg;
		height: 16em;
		vertical-align: top;
		margin-left: 5%;
	}

}

.facebook {
	&__text {
		display: block;
		padding: 2em 0;
		width: 80%;
		margin: 0 auto;
	}
	&__text::before {
		content: "\201C";
		font-family: $quotes;
		font-size: 3em;

	}
	&__date {
		font-size: .8em;
		margin-top: .7em;
		margin-right: 10%;
		text-align: right;

	}
	&__link {
		display: block;
		font-size: .9em;
		text-decoration: none;
		margin: 2em 0;
		color: white;
		background: $bgButtons;
		padding: .8em .2em;
		text-align: center;
		transition: all .3s ease;
	}
	&__link:hover {
		background: $buttonsHover;
	}
}

.event {
	&__img {
		display: inline-block;
		width: 40%;
		margin: 1em 5%;
		vertical-align: middle;
	}

	&__title {
		text-align: center;
		display: inline-block;
		width: 45%;
		font-size: 1.3em;
		text-decoration: none;
		color: $textColor;
		vertical-align: middle;
	}
	&__title:hover {
		text-decoration: underline;
	}
}