/* Espace P
 *
 * /sass/components/last.scss - basic styles for last actus section
 *
 * coded by Anne
 * started at 10/10/2016
 */

.last {
	width: 80%;
	margin: 5em auto;


	&__title {
		margin-bottom: 2em;
	}

	&__part {
		display: block;
	}
}

.facebook {
	margin-bottom: 2em;
	&__text {
		display: block;
		padding: 2em 0;
		width: 80%;
		margin: 0 auto;
	}
	&__text::before {
		content: "\201C";
		font-family: $quotes;
		font-size: 3em;

	}
	&__date {
		font-size: .8em;
		margin-top: .7em;
		margin-right: 10%;
		text-align: right;

	}
	&__link {
		display: block;
		font-size: .9em;
		text-decoration: none;
		margin: 2em 0;
		color: white;
		background: $bgButtons;
		padding: .8em .2em;
		text-align: center;
		transition: all .3s ease;
	}
	&__link:hover {
		background: $buttonsHover;
	}
}

.event {
	background: #f5f5f5;
	padding: 3em 0;
	&__img {
		display: inline-block;
		width: 40%;
		margin: 2em 5%;
		vertical-align: middle;
	}

	&__text {
		display: inline-block;
		width: 45%;
		vertical-align: middle;
	}

	&__type {
		font-size: 1.1em;
		color: $textColor;
		margin-bottom: 1em;

	}
	&__title {
		font-size: 1.3em;
		display: block;
		margin-bottom: .8em;
		text-decoration: none;

	}
	&__title:hover {
		text-decoration: underline;
	}
	&__description {
		margin-bottom: 2em;
	}
	&__button {
		text-decoration: none;
		background: $bgButtons;
		color: white;
		padding: .5em 1em;
	}
	&__button:hover {
		background: $buttonsHover;
	}
}

.cff-wrapper {
	padding: 4em auto;
	background: #F5F5F5;
}

#cff {
	margin: 0 auto;
}

.cff-author > a {
	text-decoration: none;
}

.cff-item {
	padding-top: 3em;
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}

.cff-author {
	position: relative;
	margin-bottom: 2em;
}
.cff-author-img {
	position: absolute;
	width: 10%;
	top: 0.5em;
	left: 0;
}

.cff-author-img > img {
	width: 100%;
	height: 100%;
}

.cff-author-text {
	width: 80%;
	margin-left: 15%;
}

.cff-viewpost-facebook {
	display: inline-block;
	text-decoration: none;
	background: $bgButtons;
	color: white;
	margin: 1em 0;
	padding: .5em 1em;
}

.cff-dot {
	display: none;
}

.cff-post-links {
	padding-bottom: 3em;
}

.cff-share-link {
	margin-bottom: 1.5em;
	display: inline-block;
	text-decoration: none;
	margin-right: 3%;

}

.cff-share-container {
	display: none;
}

.fa-play::before {
	color: transparent;
}


.cff-likebox {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

.fb_iframe_widget {
	width: 100%;
}

@media screen and (max-width: 1300px) {

	.event {
		&__img {
			width: 35%;
		}
		&__text {
			width: 50%;
		}
	}
}
@media screen and (max-width: 1200px) {

	.cff-author-img {
		width: 12%;
		top: .2em;
	}
	.cff-author-text {
		width: 70%;
		margin-left: 18%;
	}
}
@media screen and (max-width: 1000px) {

	.event {
		&__img {
			width: 30%;
		}
		&__text {
			width: 55%;
		}
	}
}
@media screen and (max-width: 950px) {
	.event {
		&__text {
			width: 55%;
		}
		&__title {
			font-size: 1.3em;
			margin-bottom: .8em;
		}
		&__description {
			font-size: .9em;
		}
	}

	.cff-likebox {
		display: block;
		width: 50%;
		vertical-align: middle;
		padding-bottom: 3em;
	}
	.cff-item {
		width: 100%;
		display: block;

	}

}
@media screen and (max-width: 850px) {
	.event {
		&__title {
			font-size: 1.2em;
			margin-bottom: .7em;
		}
		&__button {
			font-size: .9em;
		}
	}
}
@media screen and (max-width: 800px) {

	.cff-author-img {
		width: 13%;
	}
	.cff-author-text {
		margin-left: 19%;
	}
}
@media screen and (max-width: 750px) {
	.event {
		&__title {
			font-size: 1.1em;
			margin-bottom: .6em;
		}
		&__description {
			margin-bottom: 1.5em;
		}
		&__button {
			font-size: .8em;
		}
	}
}
@media screen and (max-width: 700px) {
	.event {
		&__img {
			width: 25%;
		}
		&__text {
			width: 60%;
		}
		&__type {
			font-size: .9em;
		}
		&__title {
			font-size: 1.1em;
			margin-bottom: .6em;
		}
		&__description {
			margin-bottom: 1.5em;
			font-size: .8em;
		}
		&__button {
			font-size: .8em;
		}
	}
}
@media screen and (max-width: 650px) {
	.event {
		&__title {
			font-size: 1em;
			margin-bottom: .5em;
		}
		&__description {
			font-size: .7em;
		}
	}
}
@media screen and (max-width: 600px) {
	.last {
		width: 90%;
	}
	.cff-author-img {
		width: 14%;
	}
	.cff-author-text {
		margin-left: 20%;
	}
}
@media screen and (max-width: 500px) {
	.last {
		width: 95%;
		font-size: .9em;
	}
	.cff-author-img {
		width: 15%;
	}
	.event {
		min-height: 12em;
	}
}
@media screen and (max-width: 430px) {
	.last {
		&__title {
			font-size: 1.7em;
		}
	}
	.cff-share-link {
		margin-bottom: .6em;
		margin-top: 1em;
	}

	.cff-author-img {
		width: 16%;
	}
}
