/* Espace P
 *
 * /sass/components/navigation.scss - styles for navigation between articles
 *
 * coded by Anne
 * started at 28/08/2017
 */

 .navigation {
     width: 50%;
     margin: 2em auto;
     text-align: center;
 }
