/* Espace P
 *
 * /sass/components/news.scss - styles for section news
 *
 * coded by Anne
 * started at 05/08/2017
 */

 .news {
     padding-top: 7.81em;
     padding-bottom: 7.81em;
     position: relative;
     background: #fff;

    &__infos {
        display: inline-block;
        width: 42%;
        vertical-align: top;
        margin-left: 3.5%;

        &--category {
            text-transform: uppercase;
            font-size: 1.5em;
        }
        &--summary {
            font-size: 1.125em;
            font-weight: lighter;
            line-height: 1.5;
            margin-bottom: 1em;;
        }
        &--link {
            text-transform: uppercase;
            text-decoration: none;
            transition: all .3s;

            &:after {
                content:"";
                font-family: "Fontawesome";
                display: inline-block;
                transition: all .3s;
            }
        }
        &--link:hover {
            color: $darkColor;

            &:after {
                color: $darkColor;
                transform: translateX(10px);
            }
        }
    }
    .article {
        margin-bottom: 0;
    }

 }

 .news__title.article__title {
     margin-top: 0;
 }

 @media screen and (min-width:300px) {
     .news {
         padding-top: 3em;
         padding-bottom: 3em;

        &__infos {
            display: block;
            width: 100%;
            margin-left: 0;

            &--category {
                font-size: 1.2em;
            }
            &--summary {
                font-size: 1em;
                line-height: 1.5;
            }
        }

     }
 }

 @media screen and (min-width:768px) {
     .news {
         padding-top: 4em;
         padding-bottom: 4em;

        &__infos {
            &--category {
                font-size: 1.3em;
            }
        }

     }
 }

 @media screen and (min-width:1024px) {
     .news {
         padding-top: 6em;
         padding-bottom: 6em;

        &__infos {
            display: inline-block;
            width: 46%;
            vertical-align: top;
            margin-left: 3.5%;
            &--summary {
                font-size: 1em;
            }
        }
    }
 }

 @media screen and (min-width:1440px) {
     .news {
         padding-top: 7.81em;
         padding-bottom: 7.81em;

        &__infos {
            width: 42%;

            &--category {
                font-size: 1.5em;
            }
            &--summary {
                font-size: 1.125em;
            }
        }
     }
 }

 @media screen and (min-width:2000px) {
     .news {
         padding-top: 8.2em;
         padding-bottom: 8.2em;

        &__infos {
            width: 46%;

            &--category {
                font-size: 1.6em;
            }
            &--summary {
                font-size: 1.3em;
            }
            &--link {
                font-size: 1.3em;
            }
        }
     }
 }

 @media screen and (min-width:2400px) {
     .news {
         padding-top: 8.2em;
         padding-bottom: 8.2em;

        &__infos {
            width: 51%;

            &--category {
                font-size: 1.7em;
            }
            &--summary {
                font-size: 1.4em;
            }
        }
     }
 }
