/* Espace P
 *
 * /sass/components/portal.scss - basic styles for portal section
 *
 * coded by Anne
 * started at 10/10/2016
 */

.first, .second {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.portal {
	
	&__cadre {
		text-decoration: none;
		display: table-cell;
		width: 50%;
		font-size: 1.3em;
		color: white;
		height: 20em;
		padding: 5em 5%;

		&--title {
			font-size: 2em;
			margin-bottom: 0.8em;

		}

		&--description {
			line-height: 1.5;
			margin-bottom: 2em;
		}

		&--button {
			display: block;
			width: 30%;
			color: $textColor;
			background: rgba(255, 255, 255, 0.6);
			padding: 0.5em;
			text-align: center;
			transition: all .3s ease;
			margin-left: 60%;
		}

		&--button:hover {
			background: white;
		}
	}

	&__cadre:nth-of-type(1) {
		background: transparent url(../assets/images/portal1.jpg) center no-repeat;
		background-size:cover;
	}
	&__cadre:nth-of-type(2) {
		background: transparent url(../assets/images/portal2.jpg) center no-repeat;
		background-size:cover;
	}
}

.second {
	&__cadre:nth-of-type(1) {
		background: transparent url(../assets/images/portal3.jpg) center no-repeat;
		background-size:cover;
	}
	&__cadre:nth-of-type(2) {
		background: transparent url(../assets/images/portal4.jpg) center no-repeat;
		background-size:cover;
	}
}

