/* Espace P
 *
 * /sass/components/portal.scss - basic styles for portal section
 *
 * coded by Anne
 * started at 10/10/2016
 */


.portal {
	width: 100%;

	&__cadre {
		position: relative;
		text-decoration: none;
		vertical-align: middle;
		display: inline-block;;
		width: 50%;
		margin: 0;
		font-size:1.3em;
		color: white;
		height: 20em;
		margin-right: -0.3%;

		&--title {
			font-size: 2em;
			margin: 2em 10% 0.8em;
			z-index: 3;
		}

		&--description {
			line-height: 1.5;
			margin: 0 10% 2em;
		}

		&--button {
			display: block;
			width: 30%;
			color: $textColor;
			background: rgba(255, 255, 255, 0.6);
			padding: 0.5em;
			text-align: center;
			transition: all .3s ease;
			margin-left: 60%;
		}

		&--button:hover {
			background: white;
		}
	}
	&__image {
		width: 100%;
		height: 20em;
		position: absolute;
		top: 0;
		z-index: -1;

	}
}

@media screen and (max-width:1350px) {
	.portal {
		&__cadre {
			height: 19em;
			margin-right: -0.3%;

			&--title {
				margin: 1.8em 10% 0.8em;
			}
		}
	}
}
@media screen and (max-width:1225px) {
	.portal {
		&__cadre {
			height: 18em;
		}
		&__image {
			height: 18em;
		}
	}
}
@media screen and (max-width:1210px) {
	.portal {
		&__cadre {
			width: 51%;
			margin-right: -2%;
			&--title {
				font-size: 1.9em;
			}
		}
	}
}
@media screen and (max-width:1127px) {
	.portal {
		&__cadre {

			&--title {
				font-size: 1.7em;
				margin: 2em 13% 0.8em;
			}
			&--description {
				margin: 0 13% 2em;
			}
			&--button {
				margin-left: 57%;
			}
		}
	}
}
@media screen and (max-width:1090px) {
	.portal {
		&__cadre {
			height: 17em;
			&--title {
				font-size: 1.6em;
			}
			&--button {
				font-size: .9em;
			}
		}
		&__image {
			height: 17em;
		}
	}
}
@media screen and (max-width:1026px) {
	.portal {
		&__cadre {
			&--title {
				font-size: 1.5em;
			}
		}
	}
}
@media screen and (max-width:865px) {
	.portal {
		&__cadre {
			height: 15em;
			&--title {
				font-size: 1.3em;
			}

		}
		&__image {
			height: 15em;
		}
	}
}
@media screen and (max-width:833px) {
	.portal {
		&__cadre {

			&--title {
				font-size: 1.2em;
				margin: 2em 10% 0.8em;
			}
			&--description {
				font-size: .9em;
				margin: 0 10% 2em;
			}
			&--button {
				font-size: .8em;
			}
		}
	}
}
@media screen and (max-width:711px) {
	.portal {
		&__cadre {
			width: 100%;
			height: 20em;
			font-size:1.3em;

			&--title {
				font-size: 2em;
				margin: 2em 10% 0.8em;
			}
			&--description {
				margin: 0 10% 2em;
			}
		}
		&__image {
			height: 20em;
		}
	}
}
@media screen and (max-width:660px) {
	.portal {
		&__cadre {
			height: 18em;

			&--title {
				font-size: 1.9em;
			}

		}
		&__image {
			height: 18em;
		}
	}
}
@media screen and (max-width:574px) {
	.portal {
		&__cadre {
			&--title {
				font-size: 1.8em;
			}

		}
	}
}
@media screen and (max-width:544px) {
	.portal {
		&__cadre {
			height: 17em;

			&--title {
				font-size: 1.7em;
			}

		}
		&__image {
			height: 17em;
		}
	}
}
@media screen and (max-width:514px) {
	.portal {
		&__cadre {
			&--title {
				font-size: 1.5em;
			}

		}
	}
}
@media screen and (max-width:440px) {
	.portal {
		&__cadre {
			height: 16em;
			margin-bottom: -0.1em;

			&--button {
				font-size: .7em;
			}

		}
		&__image {
			height: 16em;
		}
	}
}
