/* Espace P
 *
 * /sass/components/profiles.scss - styles for profiles
 *
 * coded by Anne
 * started at 05/08/2017
 */

.profiles {
    width: 100%;
    height: 30em;
    background: url('../assets/images/hero.jpg') center no-repeat;
    background-size: cover;
    padding: 15em 15% 0;
    display: block;
    &__single {
        display: inline-block;
        width: 20%;
        height: 12em;
        background: #fff;
        border-bottom: 10px solid #979797;
        vertical-align: middle;
        padding: 3.9em 1% 0 1%;
        text-align: center;
        text-decoration: none;
        color: $darkColor;
        margin-left: 3.5%;
        transition: all .3s;
        &--big {
            display: block;
            font-size: 1.4em;
            text-align: center;
            padding: 0;
        }
    }
    &__single:hover {
        transform: translateY(-15px);
        border-bottom-color: $lightColor;
    }
}

@media screen and (min-width: 300px) {
    .profiles {
        height: 43em;
        padding: 7em 5% 0;
        &__single {
            width: 90%;
            height: 7em;
            border-bottom: 10px solid #979797;
            padding: 1.6em 1%;
            margin-bottom: 2em;
        }
    }
}

@media screen and (min-width: 425px) {
    .profiles {
        padding: 7em 10% 0;
    }
}

@media screen and (min-width: 600px) {
    .profiles {
        padding: 7em 20% 0;
    }
}

@media screen and (min-width: 768px) {
    .profiles {
        height: 26em;
        padding: 5em 15% 0;
        &__single {
            width: 45%;
            height: 7em;
            border-bottom: 10px solid #979797;
            padding: 1.6em 1%;
            margin-bottom: 2em;
        }
    }
}

@media screen and (min-width: 1000px) {
    .profiles {
        width: 100%;
        height: 30em;
        padding: 15em 15% 0;
        &__single {
            width: 20%;
            height: 12em;
            padding: 3.9em 1% 0 1%;
        }
    }
}

@media screen and (min-width: 1800px) {
    .profiles {
        &__single {
            height: 13em;
            padding: 5em 1% 0 1%;
        }
    }
}
