/* Espace P
 *
 * /sass/components/search.scss - basic styles for search results
 *
 * coded by Anne
 * started at 10/10/2016
 */

 .search {
 	width: 70%;
 	margin: 5em auto;

 	&__title {
 		display: block;
 		margin-bottom: 1.5em;
 	}

 }

.article {
	margin-bottom: 2em;
	&__title {
		font-size: 1.3em;
		margin-bottom: .6em;
		&--link {
			color: $textColor;
		}
	}
	&__excerpt {
		margin-bottom: .5em;
	}

	&__footer {
		position: relative;
	}
	&__url {
		text-decoration: none;
		color: $textColor;
	}
	&__url:after {
		content:"";
		font-family: 'FontAwesome';
		display: inline-block;
		margin-left: .2em;
		color: transparent;
		transition: all .3s ease;
	}
	&__url:hover:after {
		content:"";
		font-family: 'FontAwesome';
		display: inline-block;
		margin-left: .5em;
		color: $textColor;
	}
	&__date {
		position: absolute;
		right:0;
		bottom: 0;
		font-size: .8em;
	}

}
