/* Espace P
 *
 * /sass/components/file.scss - styles for a list of donwloadable files
 *
 * coded by Anne
 * started at 15/08/2017
 */

.form {
     &--label {
         color: $textColor;
         text-transform: uppercase;
         font-size: 0.875em;
         display: block;
         margin-bottom: 0.5em;
     }
     &--input {
         height: 3em;
         width: 100%;
         display: flex;
         padding: 0 1em;
         border: none;
         background: #F1F1F1;
         border-radius: 10px;
     }
     &--button {
         text-indent: -9999px;
         display: flex;
         font-family: 'FontAwesome';
         border: none;
         background: $lightColor url(../assets/images/search.png) center no-repeat;
         padding: 0.9em 1.3em;
         position: absolute;
         bottom: 0;
         right: 0;
         border-radius: 0 10px 10px 0;
     }
 }

 .search {
     &__failed {
         width: 60%;
         margin: 3em auto;

         .form {
             &--label {
                 display: none;
             }
             &--input {
                 background: #fff;
                 font-size: 1.1em;
             }
             &--button {
                 font-size: 1.1em;
             }
         }
     }

 }
