/* Espace P
 *
 * /sass/components/section.scss - basic styles for a section
 *
 * coded by Anne
 * started at 10/10/2016
 */

 .section {
     position: relative;
 	&__title {
 		font-size: 1.875em;
 		margin-bottom: .3em;
        line-height: 1.5;
 	}
 	&__button {
 		background: $bgButtons;
 		text-decoration: none;
 		color: white;
		padding: .5em 1em;
		transition: all .3s ease;
 	}
 	&__button:hover {
 		background: $buttonsHover;
 	}

 	&__text {
 		margin-bottom: 2.5em;
 		line-height: 1.5;
 	}
    &__figure, &__content {
        display: table-cell;
        vertical-align: middle;
    }
    &__figure {
		margin-bottom: 0;
        width: 50%;
    }
    &__img {
        width: 100%;
        margin-top: -0.1em;
    }
    &__content {
        padding-left: 4%;
		padding-right: 7%;
    }
    &__small {
        margin-top: -1em;
 		font-size: .7em;
        margin-bottom: 1.2em;
    }
    &__link {
        display: block;
 		text-decoration: underline;
 		margin-bottom: .6em;
 		color: $bgButtons;
    }
    &__link:after {
		content:"";
		font-family: 'FontAwesome';
		display: inline-block;
		margin-left: .2em;
		color: transparent;
		transition: all .3s ease;
	}
    &__link:before {
        content:"";
        font-family: 'Fontawesome';
        font-size: .6em;
        margin-right: 1%;
        vertical-align: middle;
        display: inline-block;
        color: $bgButtons;
    }
	&__link:hover:after {
		content:"";
		font-family: 'FontAwesome';
		display: inline-block;
		margin-left: .5em;
		color: $textColor;
	}
    &__mag {
        margin-bottom: 3em;
    }
 }

.section:nth-child(1) .section__figure .section__img {
     margin-top: 0;
 }

 .section:nth-child(odd) .section__figure {
     float: right;
 }
 .section:nth-child(odd) .section__content {
     float: left;
     margin-top: 8em;
 }

 @media screen and (max-width: 1345px) {
     .section {
         &__figure {
             width: 50.05%;
         }
         &__content {
             width: 49.95%;
         }
     }
 }
 @media screen and (max-width: 1216px) {
     .section:nth-child(odd) .section__content {
         margin-top: 4em;
     }
 }
 @media screen and (max-width: 1100px) {
     .section:nth-child(odd) .section__content {
         margin-top: 2em;
     }
 }
 @media screen and (max-width: 950px) {
     .section {
         font-size: .9em;
     }
 }
 @media screen and (max-width: 850px) {
     .section {
         font-size: .85em;
     }
     .section:nth-child(odd) .section__content {
         margin-top: 1em;
     }
 }
 @media screen and (max-width: 750px) {
     .section {
         width: 100%;
         &__figure, &__content {
         display: block;
         }
         &__figure {
             width: 100%;
             height: 15em;
             overflow: hidden;
         }
         &__img {
             margin-top: -10%;
         }
         &__content {
             width: 70%;
             margin: 1em auto 5em;
         }
         &__title {

         }
         .infos {
             &__title {
                 position: absolute;
                 top: 1.5em;
                 font-size: 2.5em;
                 color: white;
                 text-shadow: 2px 2px 2px rgba( black, 0.9);
             }
         }
     }
     .section:nth-child(odd) .section__figure {
         float: none;
     }
     .section:nth-child(odd) .section__content {
         float: none;;
     }
 }
@media screen and (max-width: 730px) {
    .section {
        &__content {
            padding: 0;
            margin-left: 10%;
        }
        &__title {
            left: 10%;
        }
    }
}
@media screen and (max-width: 700px) {
    .section {
        &__title {
            font-size: 2.3em;
            top: 1.7em;
        }
    }
}
@media screen and (max-width: 650px) {
    .section {
        &__title {
            font-size: 2.1em;
            top: 1.9em;
        }
    }
}
@media screen and (max-width: 600px) {
    .section {
        &__title {
            width: 70%;
            font-size: 2em;
            top: 1.7em;
        }
        &__content {
            width: 80%;
        }
    }
}
@media screen and (max-width: 406px) {
    .section {
        &__title {
            width: 75%;
            font-size: 1.8em;
        }

    }
}
