/* Espace P
 *
 * /sass/components/single-post.scss - basic styles for single post
 *
 * coded by Anne
 * started at 10/10/2016
 */

 .post {
 	width: 60%;
 	margin: 5em auto;

 	&__title {
		font-size: 2em;
 	}
 	&__date {
 		font-size: .7em;
 		margin-bottom: 2em;
 	}
 	&__content {
		width: 80%;
        margin: 2em auto 0;
		line-height: 1.5;
 	}
 }

 .document {
 	margin-top: 3em;
 	&__link {
		display: block;
		width: 30%;
		margin: 2em auto;
		text-decoration: none;
 	}

 	&__image {
 		display: block;
 		width: 100%;
 		margin-bottom: 1em;
 	}
 	&__title {
		display: block;
		margin: 1em auto;
		text-align: center;
		color: $textColor;
 	}
 }
