.article {
  line-height: 1.6;
}

.alignright {
  margin-left: 3%;
  margin-bottom: .5em;
}

.alignleft {
  margin-right: 3%;
  margin-bottom: .5em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid $lightColor;
  margin: 1.5em 5% .2em;
  padding: 0.5em 3%;
  quotes: "“" "”" "‘" "’";
  width: 60%;
  margin: 2em auto 0;
  padding: 2em;
}

blockquote:before {
  color: $darkColor;
  content: open-quote;
  font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

a {
  color: #1E0808;
}

cite {
  display: block;
  font-size: .8em;
  font-style: italic;
  text-align: right;
  margin-bottom: 1.5em;
  width: 90%;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: .9em 0 .2em;
}

h3 {
  font-size: 1.6em;
  margin: .7em 0;
}

h4 {
  font-size: 1.5em;
  margin: .6em 0;
}

h5 {
  font-size: 1.4em;
  margin: .6em 0;
}

h6 {
  font-size: 1.3em;
  margin: .6em 0;
}

.article p {
  margin-bottom: 1em;
}

p {
  margin-bottom: .6em;
  line-height: 1.5;
}

ol, ul {
  margin-left: 5%;
}

.article ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: .5em;
}

.article > img {
  display: block;
  margin: 1em auto;
}

strong {
  font-weight: 700;
  color: $lightColor;
}

ol > li > a {
    color: $lightColor;
    text-decoration: none;

    &:hover {
        color: $darkColor;
    }
}

.post img {
    margin: 1.5em 0;
}

@media screen and (min-width: 300px) {
    blockquote {
      width: 90%;
    }
}

@media screen and (min-width: 768px) {
    blockquote {
      width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    blockquote {
      width: 60%;
    }
}
